<template name="Home">
	<div class="container">
		<!-- ============================================== SCROLL TABS ============================================== -->
		<div id="product-tabs-slider" class="scroll-tabs wow fadeInUp">

			<ul class="nav nav-tabs nav-tab-line" id="featured-products-1">
				<li class="active"><a href="#new" data-toggle="tab">NEW ARRIVALS</a></li>
				<li><a href="#featured" data-toggle="tab">FEATURED</a></li>
				<li><a href="#special" data-toggle="tab">SPECIAL</a></li>
				<li><a href="#best-seller" data-toggle="tab">BEST SELLER</a></li>
			</ul><!-- /.nav-tabs -->

			<div class="tab-content">
				<div class="tab-pane in active" id="new">			
					<div class="product-slider">
						<div class="owl-carousel owl-theme prod-slider-4">
							{{#each populate}}
							<div class="item">
								<div class="product">
									<div class="product-image">
										<div class="image">
											<img data-echo="assets/images/products/1.jpg" src="assets/images/blank.gif" alt="">
										</div>
										<div class="cart">
											<div class="action">
												<div><a href="#" class="btn btn-dark-blue btn-small-med btn-trans">Add to Cart</a></div>
												<div><a href="#" class="lnk"><i class="fa fa-heart"></i> Add to wishlist</a></div>
												<div><a href="#" class="lnk"><i class="fa fa-exchange"></i> Add to compare</a></div>
											</div>
										</div>	
										<div class="tag tag-orange"><div class="text">HOT</div></div>
									</div><!-- /.product-image -->

									<div class="product-info">
										<h3 class="name"><a href="{{pathFor 'product'}}">{{name}}</a></h3>
										<div class="rating rateit-small"></div>
										<div class="price"><span class="offer">${{price}}.00</span><span class="actual">${{price}}.00</span></div>
									</div><!-- /.product-info -->
								</div><!-- /.product -->						
							</div>
							{{/each}}						
						</div><!-- /.prod-slider -->
					</div><!-- /.product-slider -->
				</div><!-- /.tab-pane -->

				<div class="tab-pane" id="featured">			
					<div class="product-slider">
						<div class="owl-carousel owl-theme prod-slider-4">
							{{#each populate}}
							<div class="item">
								<div class="product">
									<div class="product-image">
										<div class="image">
											<img data-echo="assets/images/products/1.jpg" src="assets/images/blank.gif" alt="">
										</div>
										<div class="cart">
											<div class="action">
												<div><a href="#" class="btn btn-dark-blue btn-small-med btn-trans">Add to Cart</a></div>
												<div><a href="#" class="lnk"><i class="fa fa-heart"></i> Add to wishlist</a></div>
												<div><a href="#" class="lnk"><i class="fa fa-exchange"></i> Add to compare</a></div>
											</div>
										</div>	
										<div class="tag tag-orange"><div class="text">HOT</div></div>
									</div><!-- /.product-image -->

									<div class="product-info">
										<h3 class="name"><a href="#">Elizabeth PU Swing Dress</a></h3>
										<div class="rating rateit-small"></div>
										<div class="price"><span class="offer">$800.00</span><span class="actual">$900.00</span></div>
									</div><!-- /.product-info -->
								</div><!-- /.product -->						
							</div>
							{{/each}}						
						</div><!-- /.prod-slider -->
					</div><!-- /.product-slider -->
				</div><!-- /.tab-pane -->

				<div class="tab-pane" id="special">			
					<div class="product-slider">
						<div class="owl-carousel owl-theme prod-slider-4">
							{{#each populate}}
							<div class="item">
								<div class="product">
									<div class="product-image">
										<div class="image">
											<img data-echo="assets/images/products/1.jpg" src="assets/images/blank.gif" alt="">
										</div>
										<div class="cart">
											<div class="action">
												<div><a href="#" class="btn btn-dark-blue btn-small-med btn-trans">Add to Cart</a></div>
												<div><a href="#" class="lnk"><i class="fa fa-heart"></i> Add to wishlist</a></div>
												<div><a href="#" class="lnk"><i class="fa fa-exchange"></i> Add to compare</a></div>
											</div>
										</div>	
										<div class="tag tag-orange"><div class="text">HOT</div></div>
									</div><!-- /.product-image -->

									<div class="product-info">
										<h3 class="name"><a href="#">Elizabeth PU Swing Dress</a></h3>
										<div class="rating rateit-small"></div>
										<div class="price"><span class="offer">$800.00</span><span class="actual">$900.00</span></div>
									</div><!-- /.product-info -->
								</div><!-- /.product -->						
							</div>
							{{/each}}						
						</div><!-- /.prod-slider -->
					</div><!-- /.product-slider -->
				</div><!-- /.tab-pane -->

				<div class="tab-pane" id="best-seller">			
					<div class="product-slider">
						<div class="owl-carousel owl-theme prod-slider-4">
							{{#each populate}}
							<div class="item">
								<div class="product">
									<div class="product-image">
										<div class="image">
											<img data-echo="assets/images/products/1.jpg" src="assets/images/blank.gif" alt="">
										</div>
										<div class="cart">
											<div class="action">
												<div><a href="#" class="btn btn-dark-blue btn-small-med btn-trans">Add to Cart</a></div>
												<div><a href="#" class="lnk"><i class="fa fa-heart"></i> Add to wishlist</a></div>
												<div><a href="#" class="lnk"><i class="fa fa-exchange"></i> Add to compare</a></div>
											</div>
										</div>	
										<div class="tag tag-orange"><div class="text">HOT</div></div>
									</div><!-- /.product-image -->

									<div class="product-info">
										<h3 class="name"><a href="#">Elizabeth PU Swing Dress</a></h3>
										<div class="rating rateit-small"></div>
										<div class="price"><span class="offer">$800.00</span><span class="actual">$900.00</span></div>
									</div><!-- /.product-info -->
								</div><!-- /.product -->						
							</div>
							{{/each}}						
						</div><!-- /.prod-slider -->
					</div><!-- /.product-slider -->
				</div><!-- /.tab-pane -->

			</div><!-- /.tab-content -->
		</div><!-- /.scroll-tabs -->

		{{> scrollProducts}}
	</div>
</template>

<template name="scrollProducts">
	<div class="wide-banners wow fadeInUp">
		<div class="row">

			<div class="col-md-4">
				<div class="wide-banner cnt-strip">
					<div class="image">
						<img data-echo="assets/images/banners/4.jpg" src="assets/images/blank.gif" alt="">
					</div>	
					<div class="strip strip-no-bg">
						<div class="strip-inner">
							<h5>2016 NEW FASHION SHOW</h5>
							<h2>2014 FASHION SHOW</h2>
						</div>	
					</div>
				</div><!-- /.wide-banner-->
			</div><!-- /.col -->

			<div class="col-md-8">
				<div class="wide-banner cnt-strip">
					<div class="image">
						<img data-echo="assets/images/banners/5.jpg" src="assets/images/blank.gif" alt="">
					</div>	
					<div class="strip strip-no-bg strip-right-left">
						<div class="strip-inner">
							<h5>Fashion 2016</h5>
							<h2>For women</h2>
						</div>	
					</div>
				</div><!-- /.wide-banner-->
			</div><!-- /.col -->

		</div><!-- /.row -->
	</div>
</template>
