<template name="Home">
	<!-- ============================================== SCROLL TABS ============================================== -->
<div id="product-tabs-slider" class="scroll-tabs wow fadeInUp">

	<ul class="nav nav-tabs nav-tab-line" id="featured-products-1">
		<li class="active"><a href="#new" data-toggle="tab">NEW ARRIVALS</a></li>
		<li><a href="#featured" data-toggle="tab">FEATURED</a></li>
		<li><a href="#special" data-toggle="tab">SPECIAL</a></li>
		<li><a href="#best-seller" data-toggle="tab">BEST SELLER</a></li>
	</ul><!-- /.nav-tabs -->

	<div class="tab-content">
		<div class="tab-pane in active" id="new">			
			<div class="product-slider">
				<div class="owl-carousel owl-theme prod-slider-4">
					 
						<div class="item">
							<div class="product">
	<div class="product-image">
		<div class="image">
			<img data-echo="assets/images/products/1.jpg" src="assets/images/blank.gif" alt="">
		</div>
		<div class="cart">
			<div class="action">
				<div><a href="#" class="btn btn-dark-blue btn-small-med btn-trans">Add to Cart</a></div>
				<div><a href="#" class="lnk"><i class="fa fa-heart"></i> Add to wishlist</a></div>
				<div><a href="#" class="lnk"><i class="fa fa-exchange"></i> Add to compare</a></div>
			</div>
		</div>	
		<div class="tag tag-orange"><div class="text">HOT</div></div>
	</div><!-- /.product-image -->

	<div class="product-info">
		<h3 class="name"><a href="#">Elizabeth PU Swing Dress</a></h3>
		<div class="rating rateit-small"></div>
		<div class="price"><span class="offer">$800.00</span><span class="actual">$900.00</span></div>
	</div><!-- /.product-info -->
</div><!-- /.product -->						</div>
					 
						<div class="item">
							<div class="product">
	<div class="product-image">
		<div class="image">
			<img data-echo="assets/images/products/2.jpg" src="assets/images/blank.gif" alt="">
		</div>
		<div class="cart">
			<div class="action">
				<div><a href="#" class="btn btn-dark-blue btn-small-med btn-trans">Add to Cart</a></div>
				<div><a href="#" class="lnk"><i class="fa fa-heart"></i> Add to wishlist</a></div>
				<div><a href="#" class="lnk"><i class="fa fa-exchange"></i> Add to compare</a></div>
			</div>
		</div>	
		<div class="tag tag-orange"><div class="text">HOT</div></div>
	</div><!-- /.product-image -->

	<div class="product-info">
		<h3 class="name"><a href="#">Elizabeth PU Swing Dress</a></h3>
		<div class="rating rateit-small"></div>
		<div class="price"><span class="offer">$800.00</span><span class="actual">$900.00</span></div>
	</div><!-- /.product-info -->
</div><!-- /.product -->						</div>
					 
						<div class="item">
							<div class="product">
	<div class="product-image">
		<div class="image">
			<img data-echo="assets/images/products/3.jpg" src="assets/images/blank.gif" alt="">
		</div>
		<div class="cart">
			<div class="action">
				<div><a href="#" class="btn btn-dark-blue btn-small-med btn-trans">Add to Cart</a></div>
				<div><a href="#" class="lnk"><i class="fa fa-heart"></i> Add to wishlist</a></div>
				<div><a href="#" class="lnk"><i class="fa fa-exchange"></i> Add to compare</a></div>
			</div>

		</div>	
		<div class="tag tag-orange"><div class="text">HOT</div></div>
	</div><!-- /.product-image -->

	<div class="product-info">
		<h3 class="name"><a href="#">Elizabeth PU Swing Dress</a></h3>
		<div class="rating rateit-small"></div>
		<div class="price"><span class="offer">$800.00</span><span class="actual">$900.00</span></div>
	</div><!-- /.product-info -->
</div><!-- /.product -->						</div>
					 
						<div class="item">
							<div class="product">
	<div class="product-image">
		<div class="image">
			<img data-echo="assets/images/products/4.jpg" src="assets/images/blank.gif" alt="">
		</div>
		<div class="cart">
			<div class="action">
				<div><a href="#" class="btn btn-dark-blue btn-small-med btn-trans">Add to Cart</a></div>
				<div><a href="#" class="lnk"><i class="fa fa-heart"></i> Add to wishlist</a></div>
				<div><a href="#" class="lnk"><i class="fa fa-exchange"></i> Add to compare</a></div>
			</div>
		</div>	
		<div class="tag tag-orange"><div class="text">HOT</div></div>
	</div><!-- /.product-image -->

	<div class="product-info">
		<h3 class="name"><a href="#">Elizabeth PU Swing Dress</a></h3>
		<div class="rating rateit-small"></div>
		<div class="price"><span class="offer">$800.00</span><span class="actual">$900.00</span></div>
	</div><!-- /.product-info -->
</div><!-- /.product -->						</div>
					 
						<div class="item">
							<div class="product">
	<div class="product-image">
		<div class="image">
			<img data-echo="assets/images/products/5.jpg" src="assets/images/blank.gif" alt="">
		</div>
		<div class="cart">
			<div class="action">
				<div><a href="#" class="btn btn-dark-blue btn-small-med btn-trans">Add to Cart</a></div>
				<div><a href="#" class="lnk"><i class="fa fa-heart"></i> Add to wishlist</a></div>
				<div><a href="#" class="lnk"><i class="fa fa-exchange"></i> Add to compare</a></div>
			</div>
		</div>	
		<div class="tag tag-orange"><div class="text">HOT</div></div>
	</div><!-- /.product-image -->

	<div class="product-info">
		<h3 class="name"><a href="#">Elizabeth PU Swing Dress</a></h3>
		<div class="rating rateit-small"></div>
		<div class="price"><span class="offer">$800.00</span><span class="actual">$900.00</span></div>
	</div><!-- /.product-info -->
</div><!-- /.product -->						</div>
					 
						<div class="item">
							<div class="product">
	<div class="product-image">
		<div class="image">
			<img data-echo="assets/images/products/6.jpg" src="assets/images/blank.gif" alt="">
		</div>
		<div class="cart">
			<div class="action">
				<div><a href="#" class="btn btn-dark-blue btn-small-med btn-trans">Add to Cart</a></div>
				<div><a href="#" class="lnk"><i class="fa fa-heart"></i> Add to wishlist</a></div>
				<div><a href="#" class="lnk"><i class="fa fa-exchange"></i> Add to compare</a></div>
			</div>
		</div>	
		<div class="tag tag-orange"><div class="text">HOT</div></div>
	</div><!-- /.product-image -->

	<div class="product-info">
		<h3 class="name"><a href="#">Elizabeth PU Swing Dress</a></h3>
		<div class="rating rateit-small"></div>
		<div class="price"><span class="offer">$800.00</span><span class="actual">$900.00</span></div>
	</div><!-- /.product-info -->
</div><!-- /.product -->						</div>
					 
						<div class="item">
							<div class="product">
	<div class="product-image">
		<div class="image">
			<img data-echo="assets/images/products/7.jpg" src="assets/images/blank.gif" alt="">
		</div>
		<div class="cart">
			<div class="action">
				<div><a href="#" class="btn btn-dark-blue btn-small-med btn-trans">Add to Cart</a></div>
				<div><a href="#" class="lnk"><i class="fa fa-heart"></i> Add to wishlist</a></div>
				<div><a href="#" class="lnk"><i class="fa fa-exchange"></i> Add to compare</a></div>
			</div>
		</div>	
		<div class="tag tag-orange"><div class="text">HOT</div></div>
	</div><!-- /.product-image -->

	<div class="product-info">
		<h3 class="name"><a href="#">Elizabeth PU Swing Dress</a></h3>
		<div class="rating rateit-small"></div>
		<div class="price"><span class="offer">$800.00</span><span class="actual">$900.00</span></div>
	</div><!-- /.product-info -->
</div><!-- /.product -->						</div>
					 
						<div class="item">
							<div class="product">
	<div class="product-image">
		<div class="image">
			<img data-echo="assets/images/products/8.jpg" src="assets/images/blank.gif" alt="">
		</div>
		<div class="cart">
			<div class="action">
				<div><a href="#" class="btn btn-dark-blue btn-small-med btn-trans">Add to Cart</a></div>
				<div><a href="#" class="lnk"><i class="fa fa-heart"></i> Add to wishlist</a></div>
				<div><a href="#" class="lnk"><i class="fa fa-exchange"></i> Add to compare</a></div>
			</div>
		</div>	
		<div class="tag tag-orange"><div class="text">HOT</div></div>
	</div><!-- /.product-image -->

	<div class="product-info">
		<h3 class="name"><a href="#">Elizabeth PU Swing Dress</a></h3>
		<div class="rating rateit-small"></div>
		<div class="price"><span class="offer">$800.00</span><span class="actual">$900.00</span></div>
	</div><!-- /.product-info -->
</div><!-- /.product -->						</div>
						
				</div><!-- /.prod-slider -->
			</div><!-- /.product-slider -->
		</div><!-- /.tab-pane -->

		<div class="tab-pane" id="featured">
			<div class="product-slider">
				<div class="owl-carousel owl-theme prod-slider-4">
					 
						<div class="item">
							<div class="product">
	<div class="product-image">
		<div class="image">
			<img data-echo="assets/images/products/4.jpg" src="assets/images/blank.gif" alt="">
		</div>
		<div class="cart">
			<div class="action">
				<div><a href="#" class="btn btn-dark-blue btn-small-med btn-trans">Add to Cart</a></div>
				<div><a href="#" class="lnk"><i class="fa fa-heart"></i> Add to wishlist</a></div>
				<div><a href="#" class="lnk"><i class="fa fa-exchange"></i> Add to compare</a></div>
			</div>
		</div>	
		<div class="tag tag-orange"><div class="text">HOT</div></div>
	</div><!-- /.product-image -->

	<div class="product-info">
		<h3 class="name"><a href="#">Elizabeth PU Swing Dress</a></h3>
		<div class="rating rateit-small"></div>
		<div class="price"><span class="offer">$800.00</span><span class="actual">$900.00</span></div>
	</div><!-- /.product-info -->
</div><!-- /.product -->						</div>
					 
						<div class="item">
							<div class="product">
	<div class="product-image">
		<div class="image">
			<img data-echo="assets/images/products/5.jpg" src="assets/images/blank.gif" alt="">
		</div>
		<div class="cart">
			<div class="action">
				<div><a href="#" class="btn btn-dark-blue btn-small-med btn-trans">Add to Cart</a></div>
				<div><a href="#" class="lnk"><i class="fa fa-heart"></i> Add to wishlist</a></div>
				<div><a href="#" class="lnk"><i class="fa fa-exchange"></i> Add to compare</a></div>
			</div>
		</div>	
		<div class="tag tag-orange"><div class="text">HOT</div></div>
	</div><!-- /.product-image -->

	<div class="product-info">
		<h3 class="name"><a href="#">Elizabeth PU Swing Dress</a></h3>
		<div class="rating rateit-small"></div>
		<div class="price"><span class="offer">$800.00</span><span class="actual">$900.00</span></div>
	</div><!-- /.product-info -->
</div><!-- /.product -->						</div>
					 
						<div class="item">
							<div class="product">
	<div class="product-image">
		<div class="image">
			<img data-echo="assets/images/products/6.jpg" src="assets/images/blank.gif" alt="">
		</div>
		<div class="cart">
			<div class="action">
				<div><a href="#" class="btn btn-dark-blue btn-small-med btn-trans">Add to Cart</a></div>
				<div><a href="#" class="lnk"><i class="fa fa-heart"></i> Add to wishlist</a></div>
				<div><a href="#" class="lnk"><i class="fa fa-exchange"></i> Add to compare</a></div>
			</div>
		</div>	
		<div class="tag tag-orange"><div class="text">HOT</div></div>
	</div><!-- /.product-image -->

	<div class="product-info">
		<h3 class="name"><a href="#">Elizabeth PU Swing Dress</a></h3>
		<div class="rating rateit-small"></div>
		<div class="price"><span class="offer">$800.00</span><span class="actual">$900.00</span></div>
	</div><!-- /.product-info -->
</div><!-- /.product -->						</div>
					 
						<div class="item">
							<div class="product">
	<div class="product-image">
		<div class="image">
			<img data-echo="assets/images/products/7.jpg" src="assets/images/blank.gif" alt="">
		</div>
		<div class="cart">
			<div class="action">
				<div><a href="#" class="btn btn-dark-blue btn-small-med btn-trans">Add to Cart</a></div>
				<div><a href="#" class="lnk"><i class="fa fa-heart"></i> Add to wishlist</a></div>
				<div><a href="#" class="lnk"><i class="fa fa-exchange"></i> Add to compare</a></div>
			</div>
		</div>	
		<div class="tag tag-orange"><div class="text">HOT</div></div>
	</div><!-- /.product-image -->

	<div class="product-info">
		<h3 class="name"><a href="#">Elizabeth PU Swing Dress</a></h3>
		<div class="rating rateit-small"></div>
		<div class="price"><span class="offer">$800.00</span><span class="actual">$900.00</span></div>
	</div><!-- /.product-info -->
</div><!-- /.product -->						</div>
					 
						<div class="item">
							<div class="product">
	<div class="product-image">
		<div class="image">
			<img data-echo="assets/images/products/8.jpg" src="assets/images/blank.gif" alt="">
		</div>
		<div class="cart">
			<div class="action">
				<div><a href="#" class="btn btn-dark-blue btn-small-med btn-trans">Add to Cart</a></div>
				<div><a href="#" class="lnk"><i class="fa fa-heart"></i> Add to wishlist</a></div>
				<div><a href="#" class="lnk"><i class="fa fa-exchange"></i> Add to compare</a></div>
			</div>
		</div>	
		<div class="tag tag-orange"><div class="text">HOT</div></div>
	</div><!-- /.product-image -->

	<div class="product-info">
		<h3 class="name"><a href="#">Elizabeth PU Swing Dress</a></h3>
		<div class="rating rateit-small"></div>
		<div class="price"><span class="offer">$800.00</span><span class="actual">$900.00</span></div>
	</div><!-- /.product-info -->
</div><!-- /.product -->						</div>
					 
						<div class="item">
							<div class="product">
	<div class="product-image">
		<div class="image">
			<img data-echo="assets/images/products/9.jpg" src="assets/images/blank.gif" alt="">
		</div>
		<div class="cart">
			<div class="action">
				<div><a href="#" class="btn btn-dark-blue btn-small-med btn-trans">Add to Cart</a></div>
				<div><a href="#" class="lnk"><i class="fa fa-heart"></i> Add to wishlist</a></div>
				<div><a href="#" class="lnk"><i class="fa fa-exchange"></i> Add to compare</a></div>
			</div>
		</div>	
		<div class="tag tag-orange"><div class="text">HOT</div></div>
	</div><!-- /.product-image -->

	<div class="product-info">
		<h3 class="name"><a href="#">Elizabeth PU Swing Dress</a></h3>
		<div class="rating rateit-small"></div>
		<div class="price"><span class="offer">$800.00</span><span class="actual">$900.00</span></div>
	</div><!-- /.product-info -->
</div><!-- /.product -->						</div>
					 
						<div class="item">
							<div class="product">
	<div class="product-image">
		<div class="image">
			<img data-echo="assets/images/products/10.jpg" src="assets/images/blank.gif" alt="">
		</div>
		<div class="cart">
			<div class="action">
				<div><a href="#" class="btn btn-dark-blue btn-small-med btn-trans">Add to Cart</a></div>
				<div><a href="#" class="lnk"><i class="fa fa-heart"></i> Add to wishlist</a></div>
				<div><a href="#" class="lnk"><i class="fa fa-exchange"></i> Add to compare</a></div>
			</div>
		</div>	
		<div class="tag tag-orange"><div class="text">HOT</div></div>
	</div><!-- /.product-image -->

	<div class="product-info">
		<h3 class="name"><a href="#">Elizabeth PU Swing Dress</a></h3>
		<div class="rating rateit-small"></div>
		<div class="price"><span class="offer">$800.00</span><span class="actual">$900.00</span></div>
	</div><!-- /.product-info -->
</div><!-- /.product -->						</div>
					 
						<div class="item">
							<div class="product">
	<div class="product-image">
		<div class="image">
			<img data-echo="assets/images/products/11.jpg" src="assets/images/blank.gif" alt="">
		</div>
		<div class="cart">
			<div class="action">
				<div><a href="#" class="btn btn-dark-blue btn-small-med btn-trans">Add to Cart</a></div>
				<div><a href="#" class="lnk"><i class="fa fa-heart"></i> Add to wishlist</a></div>
				<div><a href="#" class="lnk"><i class="fa fa-exchange"></i> Add to compare</a></div>
			</div>
		</div>	
		<div class="tag tag-orange"><div class="text">HOT</div></div>
	</div><!-- /.product-image -->

	<div class="product-info">
		<h3 class="name"><a href="#">Elizabeth PU Swing Dress</a></h3>
		<div class="rating rateit-small"></div>
		<div class="price"><span class="offer">$800.00</span><span class="actual">$900.00</span></div>
	</div><!-- /.product-info -->
</div><!-- /.product -->						</div>
					 
						<div class="item">
							<div class="product">
	<div class="product-image">
		<div class="image">
			<img data-echo="assets/images/products/12.jpg" src="assets/images/blank.gif" alt="">
		</div>
		<div class="cart">
			<div class="action">
				<div><a href="#" class="btn btn-dark-blue btn-small-med btn-trans">Add to Cart</a></div>
				<div><a href="#" class="lnk"><i class="fa fa-heart"></i> Add to wishlist</a></div>
				<div><a href="#" class="lnk"><i class="fa fa-exchange"></i> Add to compare</a></div>
			</div>
		</div>	
		<div class="tag tag-orange"><div class="text">HOT</div></div>
	</div><!-- /.product-image -->

	<div class="product-info">
		<h3 class="name"><a href="#">Elizabeth PU Swing Dress</a></h3>
		<div class="rating rateit-small"></div>
		<div class="price"><span class="offer">$800.00</span><span class="actual">$900.00</span></div>
	</div><!-- /.product-info -->
</div><!-- /.product -->						</div>
						
				</div><!-- /.prod-slider -->
			</div><!-- /.product-slider -->
		</div><!-- /.tab-pane -->

		<div class="tab-pane" id="special">
			<div class="product-slider">
				<div class="owl-carousel owl-theme prod-slider-4">
					 
						<div class="item">
							<div class="product">
	<div class="product-image">
		<div class="image">
			<img data-echo="assets/images/products/12.jpg" src="assets/images/blank.gif" alt="">
		</div>
		<div class="cart">
			<div class="action">
				<div><a href="#" class="btn btn-dark-blue btn-small-med btn-trans">Add to Cart</a></div>
				<div><a href="#" class="lnk"><i class="fa fa-heart"></i> Add to wishlist</a></div>
				<div><a href="#" class="lnk"><i class="fa fa-exchange"></i> Add to compare</a></div>
			</div>
		</div>	
		<div class="tag tag-orange"><div class="text">HOT</div></div>
	</div><!-- /.product-image -->

	<div class="product-info">
		<h3 class="name"><a href="#">Elizabeth PU Swing Dress</a></h3>
		<div class="rating rateit-small"></div>
		<div class="price"><span class="offer">$800.00</span><span class="actual">$900.00</span></div>
	</div><!-- /.product-info -->
</div><!-- /.product -->						</div>
					 
						<div class="item">
							<div class="product">
	<div class="product-image">
		<div class="image">
			<img data-echo="assets/images/products/11.jpg" src="assets/images/blank.gif" alt="">
		</div>
		<div class="cart">
			<div class="action">
				<div><a href="#" class="btn btn-dark-blue btn-small-med btn-trans">Add to Cart</a></div>
				<div><a href="#" class="lnk"><i class="fa fa-heart"></i> Add to wishlist</a></div>
				<div><a href="#" class="lnk"><i class="fa fa-exchange"></i> Add to compare</a></div>
			</div>
		</div>	
		<div class="tag tag-orange"><div class="text">HOT</div></div>
	</div><!-- /.product-image -->

	<div class="product-info">
		<h3 class="name"><a href="#">Elizabeth PU Swing Dress</a></h3>
		<div class="rating rateit-small"></div>
		<div class="price"><span class="offer">$800.00</span><span class="actual">$900.00</span></div>
	</div><!-- /.product-info -->
</div><!-- /.product -->						</div>
					 
						<div class="item">
							<div class="product">
	<div class="product-image">
		<div class="image">
			<img data-echo="assets/images/products/10.jpg" src="assets/images/blank.gif" alt="">
		</div>
		<div class="cart">
			<div class="action">
				<div><a href="#" class="btn btn-dark-blue btn-small-med btn-trans">Add to Cart</a></div>
				<div><a href="#" class="lnk"><i class="fa fa-heart"></i> Add to wishlist</a></div>
				<div><a href="#" class="lnk"><i class="fa fa-exchange"></i> Add to compare</a></div>
			</div>
		</div>	
		<div class="tag tag-orange"><div class="text">HOT</div></div>
	</div><!-- /.product-image -->

	<div class="product-info">
		<h3 class="name"><a href="#">Elizabeth PU Swing Dress</a></h3>
		<div class="rating rateit-small"></div>
		<div class="price"><span class="offer">$800.00</span><span class="actual">$900.00</span></div>
	</div><!-- /.product-info -->
</div><!-- /.product -->						</div>
					 
						<div class="item">
							<div class="product">
	<div class="product-image">
		<div class="image">
			<img data-echo="assets/images/products/9.jpg" src="assets/images/blank.gif" alt="">
		</div>
		<div class="cart">
			<div class="action">
				<div><a href="#" class="btn btn-dark-blue btn-small-med btn-trans">Add to Cart</a></div>
				<div><a href="#" class="lnk"><i class="fa fa-heart"></i> Add to wishlist</a></div>
				<div><a href="#" class="lnk"><i class="fa fa-exchange"></i> Add to compare</a></div>
			</div>
		</div>	
		<div class="tag tag-orange"><div class="text">HOT</div></div>
	</div><!-- /.product-image -->

	<div class="product-info">
		<h3 class="name"><a href="#">Elizabeth PU Swing Dress</a></h3>
		<div class="rating rateit-small"></div>
		<div class="price"><span class="offer">$800.00</span><span class="actual">$900.00</span></div>
	</div><!-- /.product-info -->
</div><!-- /.product -->						</div>
					 
						<div class="item">
							<div class="product">
	<div class="product-image">
		<div class="image">
			<img data-echo="assets/images/products/8.jpg" src="assets/images/blank.gif" alt="">
		</div>
		<div class="cart">
			<div class="action">
				<div><a href="#" class="btn btn-dark-blue btn-small-med btn-trans">Add to Cart</a></div>
				<div><a href="#" class="lnk"><i class="fa fa-heart"></i> Add to wishlist</a></div>
				<div><a href="#" class="lnk"><i class="fa fa-exchange"></i> Add to compare</a></div>
			</div>
		</div>	
		<div class="tag tag-orange"><div class="text">HOT</div></div>
	</div><!-- /.product-image -->

	<div class="product-info">
		<h3 class="name"><a href="#">Elizabeth PU Swing Dress</a></h3>
		<div class="rating rateit-small"></div>
		<div class="price"><span class="offer">$800.00</span><span class="actual">$900.00</span></div>
	</div><!-- /.product-info -->
</div><!-- /.product -->						</div>
					 
						<div class="item">
							<div class="product">
	<div class="product-image">
		<div class="image">
			<img data-echo="assets/images/products/7.jpg" src="assets/images/blank.gif" alt="">
		</div>
		<div class="cart">
			<div class="action">
				<div><a href="#" class="btn btn-dark-blue btn-small-med btn-trans">Add to Cart</a></div>
				<div><a href="#" class="lnk"><i class="fa fa-heart"></i> Add to wishlist</a></div>
				<div><a href="#" class="lnk"><i class="fa fa-exchange"></i> Add to compare</a></div>
			</div>
		</div>	
		<div class="tag tag-orange"><div class="text">HOT</div></div>
	</div><!-- /.product-image -->

	<div class="product-info">
		<h3 class="name"><a href="#">Elizabeth PU Swing Dress</a></h3>
		<div class="rating rateit-small"></div>
		<div class="price"><span class="offer">$800.00</span><span class="actual">$900.00</span></div>
	</div><!-- /.product-info -->
</div><!-- /.product -->						</div>
					 
						<div class="item">
							<div class="product">
	<div class="product-image">
		<div class="image">
			<img data-echo="assets/images/products/6.jpg" src="assets/images/blank.gif" alt="">
		</div>
		<div class="cart">
			<div class="action">
				<div><a href="#" class="btn btn-dark-blue btn-small-med btn-trans">Add to Cart</a></div>
				<div><a href="#" class="lnk"><i class="fa fa-heart"></i> Add to wishlist</a></div>
				<div><a href="#" class="lnk"><i class="fa fa-exchange"></i> Add to compare</a></div>
			</div>
		</div>	
		<div class="tag tag-orange"><div class="text">HOT</div></div>
	</div><!-- /.product-image -->

	<div class="product-info">
		<h3 class="name"><a href="#">Elizabeth PU Swing Dress</a></h3>
		<div class="rating rateit-small"></div>
		<div class="price"><span class="offer">$800.00</span><span class="actual">$900.00</span></div>
	</div><!-- /.product-info -->
</div><!-- /.product -->						</div>
					 
						<div class="item">
							<div class="product">
	<div class="product-image">
		<div class="image">
			<img data-echo="assets/images/products/5.jpg" src="assets/images/blank.gif" alt="">
		</div>
		<div class="cart">
			<div class="action">
				<div><a href="#" class="btn btn-dark-blue btn-small-med btn-trans">Add to Cart</a></div>
				<div><a href="#" class="lnk"><i class="fa fa-heart"></i> Add to wishlist</a></div>
				<div><a href="#" class="lnk"><i class="fa fa-exchange"></i> Add to compare</a></div>
			</div>
		</div>	
		<div class="tag tag-orange"><div class="text">HOT</div></div>
	</div><!-- /.product-image -->

	<div class="product-info">
		<h3 class="name"><a href="#">Elizabeth PU Swing Dress</a></h3>
		<div class="rating rateit-small"></div>
		<div class="price"><span class="offer">$800.00</span><span class="actual">$900.00</span></div>
	</div><!-- /.product-info -->
</div><!-- /.product -->						</div>
					 
						<div class="item">
							<div class="product">
	<div class="product-image">
		<div class="image">
			<img data-echo="assets/images/products/4.jpg" src="assets/images/blank.gif" alt="">
		</div>
		<div class="cart">
			<div class="action">
				<div><a href="#" class="btn btn-dark-blue btn-small-med btn-trans">Add to Cart</a></div>
				<div><a href="#" class="lnk"><i class="fa fa-heart"></i> Add to wishlist</a></div>
				<div><a href="#" class="lnk"><i class="fa fa-exchange"></i> Add to compare</a></div>
			</div>
		</div>	
		<div class="tag tag-orange"><div class="text">HOT</div></div>
	</div><!-- /.product-image -->

	<div class="product-info">
		<h3 class="name"><a href="#">Elizabeth PU Swing Dress</a></h3>
		<div class="rating rateit-small"></div>
		<div class="price"><span class="offer">$800.00</span><span class="actual">$900.00</span></div>
	</div><!-- /.product-info -->
</div><!-- /.product -->						</div>
						
				</div><!-- /.prod-slider -->
			</div><!-- /.product-slider -->
		</div><!-- /.tab-pane -->

		<div class="tab-pane" id="best-seller">
			<div class="product-slider">
				<div class="owl-carousel owl-theme prod-slider-4">
					 
						<div class="item">
							<div class="product">
	<div class="product-image">
		<div class="image">
			<img data-echo="assets/images/products/8.jpg" src="assets/images/blank.gif" alt="">
		</div>
		<div class="cart">
			<div class="action">
				<div><a href="#" class="btn btn-dark-blue btn-small-med btn-trans">Add to Cart</a></div>
				<div><a href="#" class="lnk"><i class="fa fa-heart"></i> Add to wishlist</a></div>
				<div><a href="#" class="lnk"><i class="fa fa-exchange"></i> Add to compare</a></div>
			</div>
		</div>	
		<div class="tag tag-orange"><div class="text">HOT</div></div>
	</div><!-- /.product-image -->

	<div class="product-info">
		<h3 class="name"><a href="#">Elizabeth PU Swing Dress</a></h3>
		<div class="rating rateit-small"></div>
		<div class="price"><span class="offer">$800.00</span><span class="actual">$900.00</span></div>
	</div><!-- /.product-info -->
</div><!-- /.product -->						</div>
					 
						<div class="item">
							<div class="product">
	<div class="product-image">
		<div class="image">
			<img data-echo="assets/images/products/7.jpg" src="assets/images/blank.gif" alt="">
		</div>
		<div class="cart">
			<div class="action">
				<div><a href="#" class="btn btn-dark-blue btn-small-med btn-trans">Add to Cart</a></div>
				<div><a href="#" class="lnk"><i class="fa fa-heart"></i> Add to wishlist</a></div>
				<div><a href="#" class="lnk"><i class="fa fa-exchange"></i> Add to compare</a></div>
			</div>
		</div>	
		<div class="tag tag-orange"><div class="text">HOT</div></div>
	</div><!-- /.product-image -->

	<div class="product-info">
		<h3 class="name"><a href="#">Elizabeth PU Swing Dress</a></h3>
		<div class="rating rateit-small"></div>
		<div class="price"><span class="offer">$800.00</span><span class="actual">$900.00</span></div>
	</div><!-- /.product-info -->
</div><!-- /.product -->						</div>
					 
						<div class="item">
							<div class="product">
	<div class="product-image">
		<div class="image">
			<img data-echo="assets/images/products/6.jpg" src="assets/images/blank.gif" alt="">
		</div>
		<div class="cart">
			<div class="action">
				<div><a href="#" class="btn btn-dark-blue btn-small-med btn-trans">Add to Cart</a></div>
				<div><a href="#" class="lnk"><i class="fa fa-heart"></i> Add to wishlist</a></div>
				<div><a href="#" class="lnk"><i class="fa fa-exchange"></i> Add to compare</a></div>
			</div>
		</div>	
		<div class="tag tag-orange"><div class="text">HOT</div></div>
	</div><!-- /.product-image -->

	<div class="product-info">
		<h3 class="name"><a href="#">Elizabeth PU Swing Dress</a></h3>
		<div class="rating rateit-small"></div>
		<div class="price"><span class="offer">$800.00</span><span class="actual">$900.00</span></div>
	</div><!-- /.product-info -->
</div><!-- /.product -->						</div>
					 
						<div class="item">
							<div class="product">
	<div class="product-image">
		<div class="image">
			<img data-echo="assets/images/products/5.jpg" src="assets/images/blank.gif" alt="">
		</div>
		<div class="cart">
			<div class="action">
				<div><a href="#" class="btn btn-dark-blue btn-small-med btn-trans">Add to Cart</a></div>
				<div><a href="#" class="lnk"><i class="fa fa-heart"></i> Add to wishlist</a></div>
				<div><a href="#" class="lnk"><i class="fa fa-exchange"></i> Add to compare</a></div>
			</div>
		</div>	
		<div class="tag tag-orange"><div class="text">HOT</div></div>
	</div><!-- /.product-image -->

	<div class="product-info">
		<h3 class="name"><a href="#">Elizabeth PU Swing Dress</a></h3>
		<div class="rating rateit-small"></div>
		<div class="price"><span class="offer">$800.00</span><span class="actual">$900.00</span></div>
	</div><!-- /.product-info -->
</div><!-- /.product -->						</div>
					 
						<div class="item">
							<div class="product">
	<div class="product-image">
		<div class="image">
			<img data-echo="assets/images/products/4.jpg" src="assets/images/blank.gif" alt="">
		</div>
		<div class="cart">
			<div class="action">
				<div><a href="#" class="btn btn-dark-blue btn-small-med btn-trans">Add to Cart</a></div>
				<div><a href="#" class="lnk"><i class="fa fa-heart"></i> Add to wishlist</a></div>
				<div><a href="#" class="lnk"><i class="fa fa-exchange"></i> Add to compare</a></div>
			</div>
		</div>	
		<div class="tag tag-orange"><div class="text">HOT</div></div>
	</div><!-- /.product-image -->

	<div class="product-info">
		<h3 class="name"><a href="#">Elizabeth PU Swing Dress</a></h3>
		<div class="rating rateit-small"></div>
		<div class="price"><span class="offer">$800.00</span><span class="actual">$900.00</span></div>
	</div><!-- /.product-info -->
</div><!-- /.product -->						</div>
					 
						<div class="item">
							<div class="product">
	<div class="product-image">
		<div class="image">
			<img data-echo="assets/images/products/3.jpg" src="assets/images/blank.gif" alt="">
		</div>
		<div class="cart">
			<div class="action">
				<div><a href="#" class="btn btn-dark-blue btn-small-med btn-trans">Add to Cart</a></div>
				<div><a href="#" class="lnk"><i class="fa fa-heart"></i> Add to wishlist</a></div>
				<div><a href="#" class="lnk"><i class="fa fa-exchange"></i> Add to compare</a></div>
			</div>
		</div>	
		<div class="tag tag-orange"><div class="text">HOT</div></div>
	</div><!-- /.product-image -->

	<div class="product-info">
		<h3 class="name"><a href="#">Elizabeth PU Swing Dress</a></h3>
		<div class="rating rateit-small"></div>
		<div class="price"><span class="offer">$800.00</span><span class="actual">$900.00</span></div>
	</div><!-- /.product-info -->
</div><!-- /.product -->						</div>
					 
						<div class="item">
							<div class="product">
	<div class="product-image">
		<div class="image">
			<img data-echo="assets/images/products/2.jpg" src="assets/images/blank.gif" alt="">
		</div>
		<div class="cart">
			<div class="action">
				<div><a href="#" class="btn btn-dark-blue btn-small-med btn-trans">Add to Cart</a></div>
				<div><a href="#" class="lnk"><i class="fa fa-heart"></i> Add to wishlist</a></div>
				<div><a href="#" class="lnk"><i class="fa fa-exchange"></i> Add to compare</a></div>
			</div>
		</div>	
		<div class="tag tag-orange"><div class="text">HOT</div></div>
	</div><!-- /.product-image -->

	<div class="product-info">
		<h3 class="name"><a href="#">Elizabeth PU Swing Dress</a></h3>
		<div class="rating rateit-small"></div>
		<div class="price"><span class="offer">$800.00</span><span class="actual">$900.00</span></div>
	</div><!-- /.product-info -->
</div><!-- /.product -->						</div>
					 
						<div class="item">
							<div class="product">
	<div class="product-image">
		<div class="image">
			<img data-echo="assets/images/products/1.jpg" src="assets/images/blank.gif" alt="">
		</div>
		<div class="cart">
			<div class="action">
				<div><a href="#" class="btn btn-dark-blue btn-small-med btn-trans">Add to Cart</a></div>
				<div><a href="#" class="lnk"><i class="fa fa-heart"></i> Add to wishlist</a></div>
				<div><a href="#" class="lnk"><i class="fa fa-exchange"></i> Add to compare</a></div>
			</div>
		</div>	
		<div class="tag tag-orange"><div class="text">HOT</div></div>
	</div><!-- /.product-image -->

	<div class="product-info">
		<h3 class="name"><a href="#">Elizabeth PU Swing Dress</a></h3>
		<div class="rating rateit-small"></div>
		<div class="price"><span class="offer">$800.00</span><span class="actual">$900.00</span></div>
	</div><!-- /.product-info -->
</div><!-- /.product -->						</div>
						
				</div><!-- /.prod-slider -->
			</div><!-- /.product-slider -->
		</div><!-- /.tab-pane -->

	</div><!-- /.tab-content -->
</div><!-- /.scroll-tabs -->
<!-- ============================================== SCROLL TABS : END ============================================== -->
</template>
