<template name="MasterLayout">
	<header class="header-style-2 header-style-1">
		{{> topMenu}}
		{{> navBar}}
	</header>
	<div class="body-container">
		<div class="container">
			{{> yield}}
		</div>
	</div>
	<footer>
		{{> footer}}
	</footer>
</template>

<template name="footer">
	<div class="info-boxes wow fadeInUp">
		<div class="container">
			<div class="info-boxes-inner">
				<div class="row">
					<div class="col-md-3">
						<div class="info-box">
							<div class="row">
								<div class="col-xs-2">
									<span class="fa-stack fa-lg">
										<i class="fa fa-circle fa-stack-2x"></i>
										<i class="fa fa-truck fa-stack-1x fa-inverse"></i>
									</span>
								</div>
								<div class="col-xs-10">
									<h4>FREE DELIVERY</h4>
									<h6>Free Delivry On Oder Over $680.00</h6>
								</div>
							</div>	
						</div>
					</div><!-- .col -->

					<div class="col-md-3">
						<div class="info-box">
							<div class="row">
								<div class="col-xs-2">
									<span class="fa-stack fa-lg">
										<i class="fa fa-circle fa-stack-2x"></i>
										<i class="fa fa-money fa-stack-1x fa-inverse"></i>
									</span>
								</div>
								<div class="col-xs-10">
									<h4>100% Money back</h4>
									<h6>30 Day Money Back Guarantee.</h6>
								</div>
							</div>	
						</div>
					</div><!-- .col -->

					<div class="col-md-3">
						<div class="info-box">
							<div class="row">
								<div class="col-xs-2">
									<span class="fa-stack fa-lg">
										<i class="fa fa-circle fa-stack-2x"></i>
										<i class="fa fa-phone fa-stack-1x fa-inverse"></i>
									</span>
								</div>
								<div class="col-xs-10">
									<h4>CALL TO ORDER</h4>
									<h6>Call Phone: 84. 868 868 / 868 888</h6>
								</div>
							</div>	
						</div>
					</div><!-- .col -->

					<div class="col-md-3">
						<div class="info-box">
							<div class="row">
								<div class="col-xs-2">
									<span class="fa-stack fa-lg">
										<i class="fa fa-circle fa-stack-2x"></i>
										<i class="fa fa-comments fa-stack-1x fa-inverse"></i>
									</span>
								</div>
								<div class="col-xs-10">
									<h4>online support</h4>
									<a href="#"><h6>Click Here to Chat With Us!</h6></a>
								</div>
							</div>
						</div>
					</div><!-- .col -->
				</div><!-- /.row -->
			</div><!-- /.info-boxes-inner -->
		</div><!-- /.container -->
	</div>
	<div class="links-social">
		<div class="container-class container">
			<div class="links-social-inner">
				<div class="row">
					<div class="col-md-8">
						<div class="link-groups">
							<div class="row">
								<div class="col-sm-3">
									<div class="links">
										<h3 class="title">ABOUT US</h3>
										<ul>
											<li><a href="#">Fixies</a></li>
											<li><a href="#">City Bikes</a></li>
											<li><a href="#">Glow</a></li>
											<li><a href="#">Wheelsets</a></li>
											<li><a href="#">Accessories</a></li>
											<li><a href="#">Sale</a></li>
											<li><a href="#">Clothing</a></li>
											<li><a href="#">Shop by Size</a></li>
										</ul>
									</div>
								</div>

								<div class="col-sm-3">
									<div class="links">
										<h3 class="title">MY ACCOUNT</h3>
										<ul>
											<li><a href="#">Fixies</a></li>
											<li><a href="#">City Bikes</a></li>
											<li><a href="#">Glow</a></li>
											<li><a href="#">Wheelsets</a></li>
											<li><a href="#">Accessories</a></li>
											<li><a href="#">Sale</a></li>
											<li><a href="#">Clothing</a></li>
											<li><a href="#">Shop by Size</a></li>
										</ul>
									</div>
								</div>

								<div class="col-sm-3">
									<div class="links">
										<h3 class="title">INFORMATION</h3>
										<ul>
											<li><a href="#">Fixies</a></li>
											<li><a href="#">City Bikes</a></li>
											<li><a href="#">Glow</a></li>
											<li><a href="#">Wheelsets</a></li>
											<li><a href="#">Accessories</a></li>
											<li><a href="#">Sale</a></li>
											<li><a href="#">Clothing</a></li>
											<li><a href="#">Shop by Size</a></li>
										</ul>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="links">
										<h3 class="title">SHOP</h3>
										<ul>
											<li><a href="#">Fixies</a></li>
											<li><a href="#">City Bikes</a></li>
											<li><a href="#">Glow</a></li>
											<li><a href="#">Wheelsets</a></li>
											<li><a href="#">Accessories</a></li>
											<li><a href="#">Sale</a></li>
											<li><a href="#">Clothing</a></li>
											<li><a href="#">Shop by Size</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div><!-- /.col -->

					<div class="col-md-4">
						<div class="social-newsletter">
							<div class="social-links">
								<h3 class="title">CONNECT WITH US</h3>
								<ul class="social list-inline list-unstyled">
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
									<li><a href="#"><i class="fa fa-rss"></i></a></li>
									<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
								</ul>
							</div>

							<div class="newsletter">
								<h3 class="title">GET NEWSLETTER</h3>
								<div class="input-group">
									<input type="text" class="form-control" placeholder="Email Address">
									<span class="input-group-btn">
										<button class="btn btn-default" type="button">Subscribe</button>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="copyright">&copy; <a href="#">LEEBROSUS</a> | ALL RIGHTS RESERVED.</div>
</template>

<template name="topMenu">
	<div class="header-top animate-dropdown">
		<div class="container">
			<div class="header-top-inner">
				<div class="cnt-account">
					<ul class="list-unstyled list-inline">
						<li><a href="#">My Account</a></li>
						<li><a href="#">Wishlist</a></li>
						<li><a href="#">My Cart</a></li>
						<li><a href="#">Checkout</a></li>
						<li><a href="#">Login</a></li>
					</ul>
				</div><!-- /.cnt-account -->

				<div class="cnt-cart">
					<ul class="list-unstyled list-inline">
						<li class="dropdown dropdown-small">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">English <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="#">English</a></li>
								<li><a href="#">French</a></li>
								<li><a href="#">German</a></li>
							</ul>
						</li>

						<li class="dropdown dropdown-small">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">USD <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="#">USD</a></li>
								<li><a href="#">INR</a></li>
								<li><a href="#">GBP</a></li>
							</ul>
						</li>
						<li class="dropdown dropdown-cart">
							<a href="#" class="dropdown-toggle lnk-cart btn btn-blue btn-small" data-toggle="dropdown"><i class="glyphicon glyphicon-shopping-cart"></i>Cart 02</a>
							<ul class="dropdown-menu">
								<li>
									<div class="cart-item product-summary">
										<div class="row">
											<div class="col-xs-4">
												<div class="image">
													<img src="assets/images/products-3/1.jpg" alt="">
												</div>
											</div>
											<div class="col-xs-7">
												<a href="#"><h3 class="name">Habace Dress Style</h3></a>
												<div class="rating rateit-small"></div>
												<div class="price">$360.00</div>
											</div>
											<div class="col-xs-1 action">
												<a href="#"><i class="glyphicon glyphicon-remove"></i></a>
											</div>
										</div>
									</div><!-- /.cart-item -->
									<div class="clearfix"></div>
								</li>
								<li>
									<div class="cart-item product-summary">
										<div class="row">
											<div class="col-xs-4">
												<div class="image">
													<img src="assets/images/products-3/2.jpg" alt="">
												</div>
											</div>
											<div class="col-xs-7">
												<a href="#"><h3 class="name">Habace Dress Style</h3></a>
												<div class="rating rateit-small"></div>
												<div class="price">$360.00</div>
											</div>
											<div class="col-xs-1 action">
												<a href="#"><i class="glyphicon glyphicon-remove"></i></a>
											</div>
										</div>
									</div><!-- /.cart-item -->
									<div class="clearfix"></div>
								</li>
								<li class="cart-total">
									<div class="pull-left">
										<div class="text">Total</div>
										<div class="price">$360</div>
									</div>	
									<div class="pull-right">
										<a href="checkout.html" class="btn btn-upper btn-blue btn-normal">Checkout</a>	
									</div>	
									<div class="clearfix"></div>
								</li>
							</ul><!-- /.dropdown-menu-->
							<div class="clearfix"></div>
						</li><!-- /.dropdown-cart -->
					</ul><!-- /.list-unstyled -->
				</div><!-- /.cnt-cart -->
				<div class="clearfix"></div>
			</div><!-- /.header-top-inner -->
		</div><!-- /.container -->
	</div>
</template>

<template name="navBar">
	<div class="header-nav animate-dropdown home">
		<div class="yamm navbar navbar-default" role="navigation">
			<div class="container-class container">

				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="index.html">
						<div class="logo">

						</div>	
					</a><!-- /.navbar-brand -->
					<div class="clearfix"></div>
				</div><!-- /.navbar-header-->
				<div class="nav-bg-class no-nav-bg">
					<div class="navbar-collapse collapse">
						<div class="nav-outer">
							<ul class="nav navbar-nav">
								<li class="dropdown">
									<a href="index.html" data-hover="dropdown" class="dropdown-toggle" data-toggle="dropdown">Home</a>
									<ul class="dropdown-menu">
										<li><a href="index.html">Home I</a></li>
										<li><a href="index-2.html">Home II</a></li>
										<li><a href="index-3.html">Home III</a></li>
										<li><a href="index-4.html">Home IV</a></li>
										<li><a href="index-5.html">Home V</a></li>
										<li><a href="index-6.html">Home VI</a></li>
									</ul>
								</li>
								<li class="dropdown yamm-fw ">
									<a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">Women</a>
									<ul class="dropdown-menu">
										<li>
											<div class="yamm-content">
												<div class="row">

													<div class="col-md-2">
														<div class="section">
															<h3 class="title">STYLE</h3>
															<ul class="links list-unstyled">
																<li><a href="single-product.html">Tanks &amp; Bras</a></li>
																<li><a href="single-product.html">Polos</a></li>
																<li><a href="single-product.html">Shirts</a></li>
																<li><a href="single-product.html">Sweatshirts</a></li>
																<li><a href="single-product.html">Outwear</a></li>
																<li><a href="single-product.html">Capris &amp; Pants</a></li>
															</ul>
														</div><!-- /.section -->
													</div><!-- /.col -->

													<div class="col-md-2">
														<div class="section">
															<h3 class="title">MEN</h3>
															<ul class="links list-unstyled">
																<li><a href="single-product.html">Tanks &amp; Bras</a></li>
																<li><a href="single-product.html">Polos</a></li>
																<li><a href="single-product.html">Shirts</a></li>
																<li><a href="single-product.html">Sweatshirts</a></li>
																<li><a href="single-product.html">Outwear</a></li>
																<li><a href="single-product.html">Capris &amp; Pants</a></li>
															</ul>
														</div><!-- /.section -->
													</div><!-- /.col -->

													<div class="col-md-2">
														<div class="section">
															<h3 class="title">WOMEN</h3>
															<ul class="links list-unstyled">
																<li><a href="single-product.html">Tanks &amp; Bras</a></li>
																<li><a href="single-product.html">Polos</a></li>
																<li><a href="single-product.html">Shirts</a></li>
																<li><a href="single-product.html">Sweatshirts</a></li>
																<li><a href="single-product.html">Outwear</a></li>
																<li><a href="single-product.html">Capris &amp; Pants</a></li>
															</ul>
														</div><!-- /.section -->
													</div><!-- /.col -->

													<div class="col-md-2">
														<div class="section">
															<h3 class="title">KIDS</h3>
															<ul class="links list-unstyled">
																<li><a href="single-product.html">Tanks &amp; Bras</a></li>
																<li><a href="single-product.html">Polos</a></li>
																<li><a href="single-product.html">Shirts</a></li>
																<li><a href="single-product.html">Sweatshirts</a></li>
																<li><a href="single-product.html">Outwear</a></li>
																<li><a href="single-product.html">Capris &amp; Pants</a></li>
															</ul>
														</div><!-- /.section -->
													</div><!-- /.col -->

													<div class="col-md-2">
														<div class="section">
															<h3 class="title">ACCESSORIES</h3>
															<ul class="links list-unstyled">
																<li><a href="single-product.html">Tanks &amp; Bras</a></li>
																<li><a href="single-product.html">Polos</a></li>
																<li><a href="single-product.html">Shirts</a></li>
																<li><a href="single-product.html">Sweatshirts</a></li>
																<li><a href="single-product.html">Outwear</a></li>
																<li><a href="single-product.html">Capris &amp; Pants</a></li>
															</ul>
														</div><!-- /.section -->
													</div><!-- /.col -->

													<div class="col-md-2">
														<div class="section">
															<h3 class="title">OFFERS</h3>
															<ul class="links list-unstyled">
																<li><a href="single-product.html">Tanks &amp; Bras</a></li>
																<li><a href="single-product.html">Polos</a></li>
																<li><a href="single-product.html">Shirts</a></li>
																<li><a href="single-product.html">Sweatshirts</a></li>
																<li><a href="single-product.html">Outwear</a></li>
																<li><a href="single-product.html">Capris &amp; Pants</a></li>
															</ul>
														</div><!-- /.section -->
													</div><!-- /.col -->

												</div><!-- /.row -->
											</div><!-- /.yamm-content -->					</li>
										</ul>
									</li>
									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">Men</a>
										<ul class="dropdown-menu">
											<li>
												<div class="yamm-content">
													<div class="row">
														<div class="col-md-6">
															<div class="col-md-6">
																<div class="section">
																	<h3 class="title">STYLE</h3>
																	<ul class="links list-unstyled">
																		<li><a href="single-product.html">Tanks &amp; Bras</a></li>
																		<li><a href="single-product.html">Polos</a></li>
																		<li><a href="single-product.html">Shirts</a></li>
																		<li><a href="single-product.html">Sweatshirts</a></li>
																		<li><a href="single-product.html">Outwear</a></li>
																		<li><a href="single-product.html">Capris &amp; Pants</a></li>
																	</ul>
																</div><!-- /.section -->
															</div><!-- /.col -->
															<div class="col-md-6">
																<div class="section">
																	<h3 class="title">WOMEN</h3>
																	<ul class="links list-unstyled">
																		<li><a href="single-product.html">Tanks &amp; Bras</a></li>
																		<li><a href="single-product.html">Polos</a></li>
																		<li><a href="single-product.html">Shirts</a></li>
																		<li><a href="single-product.html">Sweatshirts</a></li>
																		<li><a href="single-product.html">Outwear</a></li>
																		<li><a href="single-product.html">Capris &amp; Pants</a></li>
																	</ul>
																</div><!-- /.section -->
															</div><!-- /.col -->
														</div><!-- /.col -->
														<div class="col-md-6">
															<div class="col-md-6">
																<div class="section">
																	<h3 class="title">MEN</h3>
																	<ul class="links list-unstyled no-border">
																		<li><a href="single-product.html">Tanks &amp; Bras</a></li>
																		<li><a href="single-product.html">Polos</a></li>
																		<li><a href="single-product.html">Shirts</a></li>
																		<li><a href="single-product.html">Sweatshirts</a></li>
																		<li><a href="single-product.html">Outwear</a></li>
																		<li><a href="single-product.html">Capris &amp; Pants</a></li>
																	</ul>
																</div><!-- /.section -->
															</div><!-- /.col -->
															<div class="col-md-6">
																<div class="section">
																	<div class="nav-product product-summary">
																		<div class="image">
																			<img data-echo="assets/images/products-2/4.jpg" src="assets/images/blank.gif" alt="">
																		</div>
																		<a href="#"><h3 class="name">Habace Dress</h3></a>
																		<div class="rating rateit-small"></div>
																		<div class="price">$360.00</div>
																	</div>
																</div><!-- /.section -->
															</div><!-- /.col -->
														</div><!-- /.col -->
													</div><!-- /.row -->
												</div><!-- /.yamm-content -->					</li>
											</ul>
										</li>
										<li class="dropdown">
											<a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">Kids</a>
											<ul class="dropdown-menu">
												<li>
													<div class="yamm-content">
														<div class="row">
															<div class="col-md-6">
																<div class="col-md-6">
																	<div class="section">
																		<h3 class="title">STYLE</h3>
																		<ul class="links list-unstyled">
																			<li><a href="single-product.html">Tanks &amp; Bras</a></li>
																			<li><a href="single-product.html">Polos</a></li>
																			<li><a href="single-product.html">Shirts</a></li>
																			<li><a href="single-product.html">Sweatshirts</a></li>
																			<li><a href="single-product.html">Outwear</a></li>
																			<li><a href="single-product.html">Capris &amp; Pants</a></li>
																		</ul>
																	</div><!-- /.section -->
																</div><!-- /.col -->
																<div class="col-md-6">
																	<div class="section">
																		<h3 class="title">WOMEN</h3>
																		<ul class="links list-unstyled">
																			<li><a href="single-product.html">Tanks &amp; Bras</a></li>
																			<li><a href="single-product.html">Polos</a></li>
																			<li><a href="single-product.html">Shirts</a></li>
																			<li><a href="single-product.html">Sweatshirts</a></li>
																			<li><a href="single-product.html">Outwear</a></li>
																			<li><a href="single-product.html">Capris &amp; Pants</a></li>
																		</ul>
																	</div><!-- /.section -->
																</div><!-- /.col -->
															</div><!-- /.col -->
															<div class="col-md-6">
																<div class="col-md-6">
																	<div class="section">
																		<h3 class="title">MEN</h3>
																		<ul class="links list-unstyled no-border">
																			<li><a href="single-product.html">Tanks &amp; Bras</a></li>
																			<li><a href="single-product.html">Polos</a></li>
																			<li><a href="single-product.html">Shirts</a></li>
																			<li><a href="single-product.html">Sweatshirts</a></li>
																			<li><a href="single-product.html">Outwear</a></li>
																			<li><a href="single-product.html">Capris &amp; Pants</a></li>
																		</ul>
																	</div><!-- /.section -->
																</div><!-- /.col -->
																<div class="col-md-6">
																	<div class="section">
																		<div class="nav-product product-summary">
																			<div class="image">
																				<img data-echo="assets/images/products-2/4.jpg" src="assets/images/blank.gif" alt="">
																			</div>
																			<a href="#"><h3 class="name">Habace Dress</h3></a>
																			<div class="rating rateit-small"></div>
																			<div class="price">$360.00</div>
																		</div>
																	</div><!-- /.section -->
																</div><!-- /.col -->
															</div><!-- /.col -->
														</div><!-- /.row -->
													</div><!-- /.yamm-content -->					</li>
												</ul>
											</li>
											<li><a href="category.html">Gifts</a></li>
											<li class="dropdown">
												<a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">Pages</a>
												<ul class="dropdown-menu">
													<li><a href="index.html">Home I</a></li>
													<li><a href="index-2.html">Home II</a></li>
													<li><a href="index-3.html">Home III</a></li>
													<li><a href="index-4.html">Home IV</a></li>
													<li><a href="index-5.html">Home V</a></li>
													<li><a href="index-6.html">Home VI</a></li>
													<li><a href="category.html">Category Listing</a></li>
													<li><a href="single-product.html">Single Product</a></li>
													<li><a href="cart.html">Shopping Cart Summary</a></li>
													<li><a href="checkout.html">Checkout</a></li>
												</ul>
											</li>
											<li class="dropdown">
												<a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">Colors</a>
												<ul class="dropdown-menu">
													<li role="presentation"><a role="menuitem" class="changecolor green-text" tabindex="-1" href="#" title="Green color">Green</a></li>
													<li role="presentation"><a role="menuitem" class="changecolor blue-text" tabindex="-1" href="#" title="Blue color">Blue</a></li>
													<li role="presentation"><a role="menuitem" class="changecolor red-text" tabindex="-1" href="#" title="Red color">Red</a></li>
													<li role="presentation"><a role="menuitem" class="changecolor navy-text" tabindex="-1" href="#" title="Navy color">Navy</a></li>
													<li role="presentation"><a role="menuitem" class="changecolor orange-text" tabindex="-1" href="#" title="Orange color">Orange</a></li>
												</ul>
											</li>
										</ul><!-- /.navbar-nav -->

										<div class="cnt-search">
											<div class="input-group">
												<input type="text" class="form-control" placeholder="Search here...">
												<span class="input-group-btn">
													<button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
												</span>
											</div>
										</div><!-- /.cnt-search -->
										<div class="clearfix"></div>				
									</div><!-- /.nav-outer -->
								</div><!-- /.navbar-collapse -->			</div><!-- /.nav-bg-class -->

							</div><!-- /.container-class -->
						</div><!-- /.navbar-default -->
					</div><!-- /.header-nav -->
				</template>
