<template name="ProductsIndex">
    <a href="{{pathFor 'products.new'}}" class="btn btn-primary">Novo Produto</a>
</template>
<template name="ProductsNew">
    <h1>Novo Produto</h1>
    <hr/>
    {{#autoForm collection="Products" id="insertProductsForm" type="insert"}}
    {{> afFieldLabel name='name'}}
    {{> afFieldInput name="name"}}
    {{> afFieldLabel name='description'}}
    {{> afFieldInput name="description" rows="6"}}
    <br/>
    {{> afObjectField name="measures" step="0.01"}}
    {{> afFieldLabel name='stock'}}
    {{> afFieldInput name='stock'}}
    {{> afFieldLabel name='availability'}}
    {{> afFieldInput name='availability'}}
    {{> afFieldLabel name='price'}}
    {{> afFieldInput name="price" step="0.01"}}
    <input type="submit" name="submit_form" id="submit_form_product" value="Salvar Produto" class="btn btn-success"/>
    <br/>
    {{/autoForm}}
</template>