<template name="ProductsIndex">
    <h1>
    <div class="pull-left">Produtos</div>
    <div class="pull-right">
        <a href="{{pathFor 'products.new'}}" class="btn btn-primary">Novo Produto</a>
    </div>
    </h1>
    <div class="clearfix"></div>
    <hr>
    <table class="table table-condensed table-striped table-bordered">
        <thead>
            <th>Nome</th>
            <th>Disponibilidade</th>
            <th>Estoque</th>
            <th>Preço</th>
            <th>Editar</th>
        </thead>
        <tbody>
            {{#each products}}
            <tr>
                <td>{{name}}</td>
                <td>{{TranslateAvailability availability}}</td>
                <td>{{stock}}</td>
                <td>{{price}}</td>
                <td><a href="{{pathFor 'product' _id}}" class="btn btn-info">Editar</a></td>
            </tr>
            {{else}}
             <tr>
                 <td colspan="5">Nenhum produto cadastrado</td>
             </tr>
            {{/each}}
        </tbody>
    </table>
</template>
<template name="ProductsNew">
    <h1>
        <div class="pull-left">
            Novo Produto
        </div>
        <div class="pull-right">
            <a href="{{pathFor 'products.index'}}" class="btn btn-default">Voltar</a>
        </div>
        <div class="clearfix"></div>
    </h1>
    <hr/> 
    {{#autoForm collection="Products" id="ProductsForm" type="insert"}}
    {{> afFieldLabel name='name'}}
    {{> afFieldInput name="name"}}
    {{> afFieldLabel name='description'}}
    {{> afFieldInput name="description" rows="6"}}
    <br/>
    {{> afObjectField name="measures"}}
    {{> afFieldLabel name='stock'}}
    {{> afFieldInput name='stock'}}
    {{> afFieldLabel name='availability'}}
    {{> afFieldInput name='availability'}}
    {{> afFieldLabel name='price'}}
    {{> afFieldInput name="price"}}
    <br/>
    <a class="btn btn-default" href="{{pathFor 'products.index'}}">Voltar</a>
    <button type="submit" name="submit_form" id="submit_form_product" class="btn btn-success">
        Salvar Produto
    </button>
    {{/autoForm}}
    <br>
</template>

<template name="ProductsEdit">
    {{#autoForm collection="Products" doc=ProductDoc id="ProductsForm" type="update"}}
    <h1>
        <div class="pull-left">
            Editando Produto
        </div>
        <div class="pull-right">
            <a href="{{pathFor 'products.index'}}" class="btn btn-default pull-right">Voltar</a>
            {{#afDeleteButton id="ProductsForm" collection="Products" doc=ProductDoc}}
            Excluir Produto
            {{/afDeleteButton}}
        </div>
        <div class="clearfix"></div>
    </h1>
    <hr/>
    {{> afFieldLabel name='name'}}
    {{> afFieldInput name="name"}}
    {{> afFieldLabel name='description'}}
    {{> afFieldInput name="description" rows="6"}}
    <br/>
    {{> afObjectField name="measures"}}
    {{> afFieldLabel name='stock'}}
    {{> afFieldInput name='stock'}}
    {{> afFieldLabel name='availability'}}
    {{> afFieldInput name='availability'}}
    {{> afFieldLabel name='price'}}
    {{> afFieldInput name="price"}}
    <br/>
    <a class="btn btn-default" href="{{pathFor 'products.index'}}">Voltar</a>
    <input type="submit" name="submit_form" id="submit_form_product" value="Salvar Produto" class="btn btn-success"/>
    <br/>
    <br/>
    {{/autoForm}}
</template>